<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amir.stickergram">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="org.telegram.messenger" />
        <package android:name="org.telegram.messenger.beta" />
        <package android:name="com.hanista.mobogram" />
        <package android:name="com.hanista.mobogram.two" />
        <package android:name="org.ir.talaeii" />
        <package android:name="ir.ilmili.telegraph" />
        <package android:name="org.telegram.plus" />
        <package android:name="ir.persianfox.messenger" />
        <package android:name="org.telegram.comorangetelegram" />
        <package android:name="ir.rrgc.telegram" />
        <package android:name="ir.alimodaresi.mytelegram" />
        <package android:name="com.aniways.anigram.messenger" />
        <package android:name="org.ilwt.lagatgram" />
        <package android:name="com.shaltouk.mytelegram" />
        <package android:name="org.thunderdog.challegram" />
        <package android:name="com.infogram.app" />
        <package android:name="com.nitro.telegram" />
        <package android:name="org.telegram.BifToGram" />
        <package android:name="uz.usoft.blackgram" />
    </queries>

    <application
        android:name=".serverHelper.VolleySingleton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserStickersActivity" />
        <activity android:name=".SaveStickerActivity" />

        <activity android:name=".CropActivity" />

        <activity android:name=".PhoneStickersActivity" />

        <activity android:name=".SettingActivity" />

        <activity android:name=".TemplateStickersActivity" />

        <activity
            android:name=".EditImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".ContactActivity" />

        <activity android:name=".HelpActivity" />

        <activity
            android:name=".ClickedFontActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.ttf" />
                <data android:host="*" />
            </intent-filter>
        </activity>

        <activity android:name="com.tangxiaolv.telegramgallery.GalleryActivity" />


        <provider
            android:name="com.amir.whatsapp.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />

    </application>

</manifest>